<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include headerLinks %>
</head>
<body>
    <% include navbar %>
    <section class="intro">
        <h3> About emOceans</h3>
        <p> emOceans is a simple web application that allows you to take note
            of your mood every day using color and language. Each day (and each mood,
            each memory) forms a tiny drop in the vast and ever-shifting ocean that is 
            you. We hope to make the observation and appreciation of those shifts and 
            waves more accessible, helpful, and more beautiful.
        </p>
    </section>
    <div class="aboutColorWrapper">

        </div>

    <div class="devWrapper">
        
    </div>
        
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/varDec.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/colorWords.js"></script>
    <script src="/javascripts/navbar.js"></script>
</body>
</html>