<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include headerLinks %>
</head>
<body>
    <% include navbar %>
    <div class="aboutColorWrapper">
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque 
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
        <div class="colorExample" id="colorName"></div>
        <div class="aboutColor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, neque porro nemo doloremque
                perspiciatis explicabo facere excepturi nesciunt totam, recusandae vitae alias id iusto quam rem at tempora
                reprehenderit repellat?</p>
        </div>
    </div>

    <div class="aboutDevsWrapper">
        <div class="Jason">
            <p>Jason is mustard yellow...</p>
        </div>
        <div class="Katie">
            <p>Katie is dusty sienna...</p>
        </div>
        <div class="Chris">
            <p>Chris is electric green...</p>
        </div>


    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/varDec.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/colorWords.js"></script>
</body>
</html>