<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>emOceans-create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include headerLinks %>
</head>

<body>
    <% include navbar %>
    <div class="body-background">
        <div class="title">NEW MOOD</div>
        <div class="outerWrapper">      
            <div class="paletteContainer">
                <div class="palette" id="palette"></div>
            </div>
            
                <div class="buttonContainer">
                    <button id="lighten">Lighten</button>
                    <button id="darken">Darken</button>
                    <button id="sat">Saturate</button>
                    <button id="desat">Desaturate</button>
                    <button id="warm">Warm</button>
                    <button id="cool">Cool</button>
                    <button id="reset">Reset</button>
                    <button id="save">Save</button>
                </div>
           
            <div class="swatchContainer">
            
            </div>
            <div class="submitContainer">
                <div class="inputs">
    
                    <form class="form" id="moodForm" action="/addMood" method="post">
                        <label for="mood">Mood:</label> <input type="text" placeholder="in a word..." id="mood" name="newMood" required>
                        <label for="colorChoice"></label> <input type="hidden" id="colorChoice" name="newColor" required>
                        <label for="note">Add Note:</label> <input type="text" placeholder="in a few words..." id="note" name="newNote">
                        <label for="date">Date:</label> <input type="date" id="today" name="newDate" required>
                        <div class="submitButton">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="textContainer">
                <div class="dataMuse">
                    <h3>Can't find the right word for how you feel?</h3>
                    <div class="word-search">
                        <form id="word-form">
                            <input id="word-search-input" type="text" placeholder="Sad" />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="word-info-box"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
    <script src="/javascripts/varDec.js"></script>
    <script src="/javascripts/datamuse.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/colorWords.js"></script>
</body>

</html>