<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>emOceans-create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include headerLinks %>
</head>

<body>
    <% include navbar %>
    <div class="body-background">
        <div class="title">MOODBOARDS</div>
        <div class="outerWrapper">    
            <div class="boardWrapper">
                <div class="moodBoardButtonContainer">
                    <button class="boardButton" id="viewDay"><a href="/moodBoards/day">Day</a></button>
                    <button class="boardButton" id="viewWeek"><a href="/moodBoards/">Week</a></button>
                    <button class="boardButton" id="viewMonth"><a href="/moodBoards/month">Month</a></button>
                    <button class="boardButton" id="viewYear"><a href="/moodBoards/year">Year</a></button>
                </div>
                <div class="boardDisplay">
            
            
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>
    <script src="/javascripts/navbar.js"></script>


    <script>

        var timeline = '<%= timeline %>'
        $(document).ready(() => {
            let moodDataz = <%- JSON.stringify(results) %> 
                for (let i = 0; i < moodDataz.length; i++) {
                    let moodCircle = document.createElement('div');
                    moodCircle.classList.add('mood-circle-data')
                    if(timeline == 'day') {
                        moodCircle.classList.add('byDay')
                    } else if(timeline == 'week') {
                        moodCircle.classList.add('byWeek')
                    } else if(timeline == 'month') {
                        moodCircle.classList.add('byMonth')
                    } else if(timeline == 'year') {
                        moodCircle.classList.add('byYear')
                    }
                moodCircle.style.backgroundColor = moodDataz[i].color 
                document.querySelector('.boardDisplay').appendChild(moodCircle)
                let moodDate = document.createElement('div');
                moodDate.classList.add('mood-date');
                moodDate.textContent = new Date(moodDataz[i].date).toLocaleDateString();
                moodCircle.appendChild(moodDate)
                let moodWord = document.createElement('div');
                moodWord.classList.add('mood-word');
                moodWord.textContent = moodDataz[i].mood
                moodCircle.appendChild(moodWord)
                let moodNote = document.createElement('div');
                moodNote.classList.add('mood-note');
                moodNote.textContent = moodDataz[i].note ? moodDataz[i].note : "";
                moodCircle.appendChild(moodNote)
                const d = new Date("2019-02-05T16:12:23Z"); 
                const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                const nicerDate = `${months[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}`
            }
        })
        
    </script>
    
    <script src="/javascripts/varDec.js"></script>
    <script src="/javascripts/moodBoards.js"></script>
</body>

</html>