<div class="navbar">
    <div class="logoContainer"><img id="logo" src="/images/logo.png"></div>
    <div class="hamburgerMenu">
    <div class="hamburger container">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>  
    <ul>
        <li class="nav-button">home</li>
        <li class="nav-button">moodboard</li>
        <li class="nav-button">about</li>
        <li class="nav-button"><a href='/logout'>log out</a></li>
    </ul>
    
</div>
</div>
