<div class="navbar">
    <div class="logoContainer"><img id="logo" src="/images/logo.png"></div>

    <!-- <div class="hamburgerMenu">
        <div class="hamburger container">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div> -->
        <ul class="menu">
            <li class="nav-button"><a href="/">home</a></li>
            <li class="nav-button"><a href="/moodBoards">moodboard</a></li>
            <li class="nav-button"><a href="/about">about</a></li>
            <li class="nav-button"><a href='/logout'>log out</a></li>
        </ul>

    </div>