<div class="navbar">
    <div class="logoContainer"><img id="logo" src="/images/logo.png"></div>
    <ul class="menu">
        <li class="nav-button">home</li>
        <li class="nav-button">about</li>
        <li class="nav-button">log out</li>
    </ul>
</div>
