<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>emOceans-Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Muli|Nova+Cut|Nova+Mono|Nova+Oval|Rajdhani" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/splash.css' />

</head>

<body>

    <header class="v-header container">
        
        <div class="fullscreen-video-wrap">
            <video src="/images/eMoceanOverView.mp4" autoplay loop muted></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <img id="logo" src="/images/logo.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, atque.</p>
            <a href="register" class="btn">Register</a>
            <a href="login" class="btn">Login</a>
        </div>
    </header>

    <script src="main.js"></script>
</body>

</html>