body {
    margin: 0;
    background-color: rgb(239, 241, 245);
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 2rem;
    margin: 0;
    z-index: 1;
}

.menu {
    position: absolute;
    right: 10px;
    height: 2rem;
    
}

ul {
    margin: 5px;
}

li {
    list-style: none;
    display: inline;
    vertical-align: middle;
}

.nav-button {
    margin: 10px 5px;
    vertical-align: middle;
    /* I'm having issues with these aligning to the middle, is it because
    the parent container's position is absolute?; i do it above with the margin 
    but that doens't seem like the best solutions */
}

.header {
    width: 40%;
    height: 4rem;
    position: relative;
    top:2rem;
    left: 1rem;
    
}

.title {
    font-size: 36pt;
    margin: 1rem;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 2rem auto;
}

.container-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    margin: 2rem 1rem;
}

.color {
    background-color: gray;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px;

}

.container-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.palette {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
    margin: 1rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

button {
    margin: 2px;
    background-color: rgb(215, 215, 215);
    font-size: 14px;
    
}

.bottom-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;

}

.word-assoc {
    width: 40%;
    margin: 0;
}


form {
    width: 75%;
    margin: 0.5 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form label,
form input {
    display: block;
    margin-top: 5px;
    width: 100%;
}

form input {
    font-size: 12pt;
    font-family: inherit;
}

textarea {
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 14px;
}

