body{
    background-image: url("images/01.backgroundimg_invert.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    position: fixed;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #cdcfed;
    background-size: auto 100vh;
    opacity: .8;
}
.header{
    background-color: #4c0be8;
    height: 15vh;
    width: 100vw;
    opacity: .9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.logoContainer{
    display: flex;
    height: 15vw;
    width: 70vw;
    align-items: center;
    justify-items: flex-start;
}

.logo{
    height: 100%;
    margin-left: .5rem;
}

.dropMenuIcon{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50px;
    background: #b3f417;
    margin-left: 1.5rem;
}

.body{
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    background: #175bf4;
    height: 10vh;
    width: auto; 
    margin-top: 2rem;
}