<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>emOceans-create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include headerLinks %>
</head>

<body>
    <% include navbar %>
    <div class="body-background">
        <div class="title">Welcome!</div>
        <div class="outerWrapper">
            <p>emOceans allows you to take note of your mood every day using color and language. 
                Choose a color that expresses how you feel (if this is totally new to you, check out
                our <a href="/about">'about'</a> page for help with color associations) and then edit the color to your
                liking (darker, lighter, warmer, etc) using our little palette.</p>

            <p>Once you have your color, you can type in a mood, along with an optional note that you'd 
                like to remember. After you save, you can view your moodboards, which are visual
                representations of your shifts in mood over time.</p>
            
            <p>We hope to make the observation and appreciation of those shifts and waves more accessible, 
                helpful, and more beautiful.</p>
            
            <form action="/" method="get" msg="begin">
            <button type="submit">Begin</button>
            </form>
        </div>

        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/navbar.js"></script>

</body>

</html>