<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>emOceans-create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include headerLinks %>
</head>

<body>
    <% include navbar %>
    <div class="title">Welcome!</div>
    <div class="outerWrapper">
        <div class="welcome-wrapper">
            <p class="welcome-text">emOceans allows you to take note of your mood every day using color and language.
                We aim to keep this process as simple as possible:</p>
            <p class="welcome-text">1. Choose a base color that represents how you feel; if this feels really foreign to you, 
                check out our 'About' page. You can then adjust the color, using our palette, to lighten, darken, warm up or cool 
                down any color to more specifically match your mood.</p>
            <p class="welcome-text">2. Add your mood, and optional note. If you're stuck trying to figure out <i>exactly</i> how you feel,
                use our word search at the bottom of the page.</p>
            <p class="welcome-text">3. Save and view your 'moodboards' by day, week, month, or year.</p>
            
            <div class="begin-form">
                <form action="/" method="post" msg="begin">
                    <button class="begin-button" type="submit">Begin</button>
                </form>
            </div>
        </div>
    </div>
        

        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/varDec.js"></script>
    <script src="/javascripts/navbar.js"></script>
</body>

</html>