/* font styles
font-family: 'Rajdhani', sans-serif;
font-family: 'Nova Mono', monospace;
font-family: 'Nova Oval', cursive;
font-family: 'Nova Cut', cursive; */

.editorHide{
    display: none;
}

.submitHide{
    display: none;
}

.paletteHide{
    display: none;
}

/* MOBILE SHARED CSS =======================================================> */

body{
    background-image: url("../images/01.backgroundimg_invert.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    position: fixed;
    margin: 0;
    padding: 0;
}

.outerWrapper{
    height: 100vh;
    width: 100vw;
    background-color: #cdcfed;
    opacity: .9;
}

.navbar {
    background-color: #4c0be8;
    height: 15vh;
    width: 100vw;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
}

.menu {
    position: absolute;
    right: 10px;
    height: 2rem;
    vertical-align: middle;
}

ul {
    margin: 5px;
}

li {
    list-style: none;
    display: inline;
    vertical-align: middle;
}

.nav-button {
    margin: 10px 5px;
    vertical-align: middle;
}

#logo{
    height: 3.5rem;
    position: absolute;
    left: 1rem;
    top: 2rem;
}

.title{
    height: 20;
    text-align: center;
    vertical-align: middle;
    padding-top: 8rem;
    font-family: 'Nova Oval', cursive;
    font-size: 2rem;
    color: white;
}
 
.footer{
    background: #175bf4;
    height: 8vh;
    width: 100vw;
    opacity: .8;
    position: fixed;
    top: 92vh;
    margin: 0;
    z-index: 10;
}

a{
    text-decoration: none;
}

/* mobile =================================================*/

.swatchContainer{
    height: 80;
    width: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding-top: .5rem;
    margin-bottom: 1rem;
}

.swatch{
    width: 26vw;
    height: 26vw;
    /* width: 6rem;
    height: 6rem; */
    margin: 8px;
    background: grey;
    border-radius: 50%;
}

.swatchHidden{
    display: none;
}


/* mood editor CSS ==============================================> */

.editorContainer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.paletteContainer{
    width: 100 vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.palette{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin: 0 auto;
}

.buttonContainer{
    width: 80%;
    height: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button{
    font-family: 'Nova Oval', cursive;
    font-size: 1.5rem;
    color: #4c0be8; 
    background: #b3f417;
    outline: none;
    margin: .5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

#save{
    font-family: 'Nova Oval', cursive;
    font-size: 1.5rem;
    color: white;
    background: #4c0be8;
    outline: none;
    margin-top: 1rem;
    margin: .5rem;
}

.colorInfo{
    font-family: 'Nova Oval', cursive;
    font-size: .8rem;
    color: #4c0be8; 
    margin: 2rem;
}

.editorHidden2{
    display: none;
}

/* mood editor–text inputs CSS ===================================> */

.submitContainer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

/* .wordAssoc{
    width: 80%;
    height: auto;
    margin: 0 auto;
    font-family: 'Nova Oval', cursive;
    font-size: 1rem;
    color: #4c0be8; 
    text-align: center;
} */

.inputs{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.form{
    width: 50%;
    height: auto;
    font-family: 'Nova Oval', cursive;
    font-size: 1rem;
    color: #4c0be8;
    margin: 0 auto;
}

/*tablet portrait==========================================*/
@media (min-width: 640px) and (max-width: 1024px){
    
}

/*tablet landscape ========================================*/ 
@media (max-width: 1024px) and (min-width: 960px) and (max-height: 768px) and (min-height: 692px){

}

/* Desktop ================================================*/
@media (min-width: 1024px) {

    .hide{
        visibility: visible;
    }

    body {
        margin: 0;
        background-color: rgb(239, 241, 245);
        overflow-x: hidden;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .navbar {
        position: fixed;
        width: 100%;
        height: 2rem;
        margin: 0;
        z-index: 1;
    }

    .menu {
        position: absolute;
        right: 10px;
        height: 2rem;
        
    }

    ul {
        margin: 5px;
    }

    li {
        list-style: none;
        display: inline;
        vertical-align: middle;
    }

    .nav-button {
        margin: 10px 5px;
        vertical-align: middle;
    }

    .header {
        width: 40%;
        height: 4rem;
        position: relative;
        top:2rem;
        left: 1rem;
        
    }

    .title {
        font-size: 36pt;
        margin: 1rem;
    }

    .outerWrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        margin: 2rem auto;
    }

    .swatchouterWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
        margin: 2rem 1rem;
    }

    .swatch {
        background-color: gray;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 5px;

    }

    .editorouterWrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }

    .paletteouterWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .palette {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin: 1rem;
    }

    .buttonouterWrapper {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
    }

    button {
        margin: 2px;
        background-color: rgb(215, 215, 215);
        font-size: 14px;
        
    }

    .submitouterWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
        justify-content: center;

    }

    .wordAssoc {
        width: 40%;
        margin: 0;
    }


    form {
        width: 75%;
        margin: 0.5 0rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    form label,
    form input {
        display: block;
        margin-top: 5px;
        width: 100%;
    }

    form input {
        font-size: 12pt;
        font-family: inherit;
    }

    textarea {
        width: 100%;
        height: 50px;
        font-family: inherit;
        font-size: 14px;
    }
}
