<div class="navbar">
    <ul class="menu">
        <li class="nav-button">home</li>
        <li class="nav-button">about</li>
        <li class="nav-button">log out</li>
    </ul>
</div>
<div class="logoContainer"><img class="logo" src="../images/logo.png"></div>